# Logs
logs
*.log
npm-debug.log*

# Dependency directories
**/node_modules/
**/dist/

# Operating System Files
.DS_Store
Thumbs.db

# Flutter/Dart build files
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Secrets / Environment files
**/.env
**/.env.production
**/.env.local
**/postgres_data/

# OS/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
